<div 
    class="like-widget-container" 
    (click)="like()" 
    (keyup.enter)="like()"
>
    <fa-icon 
        role="button" 
        tabindex="0" 
        [attr.aria-describedby]="id"
        [icon]="fonts.faThumbsUp" 
        size="1x"
    >
    </fa-icon>
    <span 
        [attr.id]="id"
        [attr.aria-label]="likes + ': people liked'"
        class="like-counter"
        aria-live="true"
        aria-atomic="true"
    >
        {{ likes }}
    </span>
</div>